body{
    display: grid;
    justify-content: center;
    height: 100vh; 
    align-items: center;
    background-color:rgb(160, 190, 247);
    
}
#myheader{
    font-family:'Courier New', monospace !important;
    font-weight: 800;
    font-size: 3rem;
}
#ser{
    margin: 20px 0 0 40px; 
    border-radius: .25rem;
    height: 30px;
    width: 600px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    
}
#gt{
    height: 30px;
    border-width: 3px;
    background-color: darkmagenta;
    color: white;
    border-radius: .25rem;
    margin-right: 0px;
}
#scrl{
    height: 30px;
    width: 30px;
    background-color:whitesmoke;
    color: rgb(8, 98, 8);
}

#box{
    background-color:rgb(98, 238, 191);
    height: 250px; 
    width: 700px; 
    margin-top: 20px;
    margin-left: 50px; 
    font-family: fantasy;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
      
} 
#cont{
    background-color:aliceblue;
    height: 350px;
    width: 800px;

} 
